.featured-projects {
  padding: 100px 20px;
}

.featured-projects h2 {
  text-align: center;
  margin-bottom: 60px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
}

.project-card {
  padding: 35px;
}

@media(max-width:768px){
  .projects-grid{
    grid-template-columns:1fr;
  }
}